@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

* {
  font-family: 'Nunito', sans-serif;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #0b70ff; /* Cor azul */
  height: 4px; /* Altura da barra */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1031;
}


::-webkit-scrollbar {
  width: 4px; /* Largura da scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Cor do fundo da scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #0b70ff; /* Cor da barra de rolagem */
  border-radius: 0px 0px 10px 10px; /* Bordas arredondadas */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Cor quando o mouse passa por cima */
}

@media (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 2px;
  }
}
