#nprogress {
    pointer-events: none;
  }
  
  #nprogress .bar {
    background: #0b70ff; /* Cor azul */
    height: 32px; /* Altura da barra */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1031;
  }
  